a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  h1 {
    margin-top: 40px;
  }
  
  .Review {
    border: 1px solid black;
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 450px;
    background-color: #EB571C;
  }
  
  .Review:hover {
    background-color: sienna;
    border: 1px solid sienna;
  }
  
  .review-link {
    color: black;
  }
  
  .review-link:visited {
    color: black;
  }

  .review-text {
    display: none
  }

  @media (min-width: 768px) {
    .review-text {
      display: block;
    }
  }