
.error {
    font-size: 12px;
}

.UserSignUp {
    padding-bottom: 30px;
}

h3 {
    margin: 5px;
    padding: 0;
}

.first-name-field, .last-name-field, .email-field, .password-field {
    padding-bottom: 3px;
}

button {
    border-style: 2px dashed black;
}